
body {
  background-image: url('wallpaper.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'Henny Penny', cursive;
}

img {
  width: 250px;
  height: 400px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);

}

canvas {
  background-image: url('map.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: none;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);

}

#student {
  display: flex;
  justify-content: space-around;
}

#student-text-info{
  margin-left: 100px;
  text-align: left;
  background-color: rgba(242, 176, 135, 0.1);
  font-size: 25px;
}

#images {
  display: inline-block;
}

#student-picture{
  margin-right: 50px;
  margin-left: -300px;
}

#marauders-map{
  display: flex;
  justify-content: center;
  padding: 50px;
}


h1 {
  text-align: center;
  font-size: 65px;
  color: white;
}

h4 {
  font-size: 40px;
  color: white;
  margin-bottom: 0;
}

select {
  border-radius: 20px;
  height: 40px;
  overflow: hidden;
  width: 240px;
}
